@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');


p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Oswald', sans-serif;
}

h2,h3{
    font-family: 'Roboto Slab', serif;
}

.primary{
    background-color: #448fa3;
}

.secondary{
    background-color: #d7263d;
}

.light{
    background-color: #0090d8;
}

.dark{
    background-color: #02182b;
}

.grey{
    background-color: #ced8db;
}

#obtenYa img{
    height: 450px;
    width: 400px;
}

header{
    background-image: url("../images/bannerPrincipal.jpg");
    background-size:cover;
    background-position: center;
}
/**Todos las filas**/
.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{
    color: #d7263d;
}

#bannerPrincipal {

}

#descripcionPrograma {

}

#iconos {

}

#fernandoCelis {

}

#contador {

}

#listonListoUnirte {

}

#descripcionContinuum {

}

#facebookComentarios {

}

#logosPatrocinadores {

}
