@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');


p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Oswald', sans-serif;
}

h2,h3{
    font-family: 'Roboto Slab', serif;
}

header{
    background-image: url("../images/bannerPrincipal.jpg");
    background-size:cover;
    background-position: center;
}

.row {
    height: 800px;

}
/**Todos las filas**/
#bannerPrincipal, #descripcionPrograma, #iconos, #fernandoCelis, #contador, #listonListoUnirte, #descripcionContinuum, #facebookComentarios, #logosPatrocinadores {

}

#bannerPrincipal {
    background-color:;
}

#descripcionPrograma {
    background-color:firebrick;
}

#iconos {
    background-color: cornflowerblue;
}

#fernandoCelis {
    background-color: firebrick;
}

#contador {
    background-color: cornflowerblue;
}

#listonListoUnirte {
    background-color: firebrick;
}

#descripcionContinuum {
    background-color: cornflowerblue;
}

#facebookComentarios {
    background-color: firebrick;
}

#logosPatrocinadores {
    background-color: cornflowerblue;
}
